<!DOCTYPE html>
<html>
	
	<head>
		<link rel="stylesheet" type="text/css" href="css/nadal.css"/>
		<meta charset="utf-8"/>
		<title>Nadal fragment newspaper</title>
	</head>

	<body>
		<div class="wrap">
			
			<div class="image">
				<img src="img/nadal.jpg" alt="nadal"/>
			</div>
			
			<div class="text">
				
				<h3>RECORD-BREAKING NADAL WINS <span class="red
					">9TH FRENCH OPEN</span></h3>
				
				<p>
					Rafael nadal beat Novak Djokovic 3-6, 7-5, 6-2, 6-4 to win his 9th French Open and retain his world No. 1 ranking.
				</p>

				<ul class="content">
					<li>
						Nadal became the first man to win at least <span class="black">one Slam title for</span> <span class="red
						">10 consecutive years</span>
					</li>
					<li>
						He has now won <span class="red
						">5 French Opens</span> <span class="black">in a row,</span> breaking the record of 4 he shared with Paul Ayme and Bjourn Borg
					</li>
					<li>
						In all, Nadal has won <span class="red
						">66 0f 67</span> matches he's played at the French open, including <span class="black">35 straight matches.</span> He last lost a match there in 2009
					</li>
					<li>
						With <span class="red
						">14 Grand Slam titles,</span> he is tied with Pete Sampras at No.2. Only Roger Federer(17) has won more.
					</li>
				</ul>		
				
				<ul class="continue">
					<li>full coverage</li>
					<li>p 20</li>
				</ul>	
			
			</div>
		
		</div>
	</body>

</html>