<!DOCTYPE html>
<html>
	<head>
		<meta charset ="utf-8"/>
		<title>Lion King</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>

	<body>	
		<div class="content">

			<ul>
				<li><a href="#">entertainment</a></li>
				<li><a href="#">television</a></li>
			</ul>
			
			<h1>Spin-Off of The Lion King Aims to Enchant a New Generation of Viewers</h1>
			
			<ul class="author">
				<li><a href="#">Melissa Hellmann</a></li>
				<li>12:51 AM ET</li>
			</ul>

			<div class="image">
				<img src="img/lionking.jpg"/>
			</div>
			
			<h2>Disney Junior, a subsidiary of the Walt Disney Co., is to launch an animated series called The Lion Guard in November next year based on the classic movie The Lion King</h2>

			<p>Disney Junior, the American television network that is owned by the Walt Disney Co., is <a href="#">launching</a> an animated series called <em>The Lion Guard</em> based on the 1994 classic children’s movie <em>The Lion King</em>.</p>
			<p>The series — which will debut in November 2015 on both the Disney Junior Channel and the Disney Channel — will follow Kion, the son of King Simba, as he and his coterie, <em>the Lion Guard</em>, defend the jungle from usurpers like the hyenas. <em>The Lion Guard</em> will begin with an hour-long movie in November 2015 followed by episodes in January 2016.</p>
			<p>“It’s kind of like <em>The Lion King</em> meets <em>The Avengers</em>,” Disney Junior general manager Nancy Kanter told the Wall Street Journal.</p>
			<p>Kanter added that <em>The Lion Guard</em> is only one of Disney Junior’s TV shows that have tapped into the “heritage” of the company. <em>The Lion Guard</em> will join the network with pre-existing shows like <em>Jake and the Never Land Pirates</em>, which is inspired by the 1953 hit <em>Peter Pan</em>. She notes that remakes of classic Disney movies have seen a good deal of success on the network.</p>
			<p>A new line of toys by Disney Consumer Products will also be released in 2015 to complement the new series.</p>

			<p id="dev">[<a href="#"><em>WSJ</em></a>]</p>
		</div>
	</body>	
</html>			